

.about_us {
    width: 100%;
    height: 90vh;
    background-image: url('https://images.unsplash.com/photo-1552960366-b330a2f83823?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(1, 8, 14);
}

.about_us .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.about_us .container .about-text {
    background: #fffffff5;
    width: 50%;
    padding: 25px 30px;
}
.about_us .container .about-text h2{
    font-size: 32px;
    padding:  20px 0;
}

.about_us .container .about_img{
    height: 450px;
    width: 450px;
    border: 1px solid red;
}
.about_us  .container .about_img img{
    height:100%;
    width: 100%;
}