

.team_section {
    width: 100%;
   padding: 30px 0;
}

.team_section .container {
     width: 80%;
     margin: auto;
     padding: 30px 50px;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.team_section .container h1{
    text-align: center;
    padding: 15px 0;
    font-size: 52px;
}

.team_section .blog{
    display: flex;
}

.team_section .blog .post{
    margin: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 30px 50px;
}